<p style="color: green"><%= notice %></p>

<% content_for :title, "Pears" %>

<h1>Pears</h1>

<div id="pears">
  <% @pears.each do |pear| %>
    <%= render pear %>
    <p>
      <%= link_to "Show this pear", pear %>
    </p>
  <% end %>
</div>

<%= link_to "New pear", new_pear_path %>
